
.create-room-table thead tr .extra-bed-type{
    width: 150px;
}
.create-room-table thead tr .citizen-rate{
    width: 150px;
}
.create-room-table thead tr .foreigner-rate{
    width: 150px;
}
.icon{
    width: 150px;
}