body{
  font-family: "Times New Roman" !important;
  font-size:1ems;
}
.check-in-date{
    padding-left: 35px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
.reg-no{
    width: 100px;
}
.same-width-th{
    width: 200px;
}
.differ-width-th{
    width: 300px;
}
