.category-list-table{
    border-collapse: collapse;
    border:solid 1px #c0c0c0;
}
.category-list-table thead tr th{
     border:solid 1px #c0c0c0;
     padding:8px 0;
}
.category-list-table thead tr .no{
    width: 50px;
}
.category-list-table thead tr .category{
    width: 250px;
}
.category-list-table thead tr .created{
    width: 150px;
}
.category-list-table thead tr .updated{
    width: 150px;
}
.category-list-table thead tr .actions{
    width: 200px;
}
.category-list-table tbody tr td{
    padding:8px;
    border:solid 1px #c0c0c0;
}
.category-list-table tbody tr:nth-child(odd){
    background-color:#dde8f7;
}